# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Matthew Davidson
#	email = matthew@modulolotus.net
[user]
	name = Matthew Davidson
	email = matthew@modulolotus.net
[core]
	excludesfile = /Users/matthew/.gitignore_global
	editor = emacs
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX
[commit]
	template = /Users/matthew/.stCommitMsg
[init]
	defaultBranch = main
	templateDir = /Users/matthew/.git-template
[credential]
	helper = osxkeychain
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
